@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

.row{
    width: 100%;
}

body {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
}

header{
    font-weight: bold;
    background: #fffdfd;
    padding: 10px 0;
    text-align: center;
}

header div ul {
    list-style: none;
    margin: 0;
    display: flex;
    gap: 100%;
}

header ul li a{
    color: #174966;
    text-decoration: none;
}

header ul li{
    border-bottom: 2px solid transparent;
}
header ul li:hover{
    border-bottom: 2px solid #174966;
}
header div .col-5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

header div .col-5 .col-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

header div .col-5 .col{
    display: flex;
    justify-content: space-around;
}

#btnMenu{
    cursor: pointer;
}

#btnMenu:hover{
    filter: drop-shadow(0px 0px 3px #174966b6);
}
header div .col-5 i{
    font-size: 18px;
}

header div .bx-menurg div a{
    transition: all 400ms;
    color: #174966;
}
header div .bx-menurg div a:hover{
    transform: scale(1.2);
}
header div img {
    width: 35%;
}
#btn-exit:hover{
    color: #f00;
}

header button {
    border: 1px solid #174966;
    border-radius: 14px;
    background: #FFF;
    transition: all 400ms;
}

header button a{
    text-decoration: none;
    color: #174966;
}

header button:hover{
    background-color: #174966dd;
}

header button:hover a{
    color: #FFF;
}
header hr{
    width: 70%;
    margin: 10px auto;
}
footer{
    margin-top: 10%;
}
footer .row{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #174966;
}
footer .row div{
    text-align: center;
    color: #FFF;
}
footer .row div div{
    display: flex;
    justify-content: center;
    gap: 5%;
}

footer .row div div a{
    color: #bababa;
    transition: all 400ms;
}

footer .row div div a:hover{
    transform: scale(1.1);
}